# shared
NODE_ENV=development

# backend-api
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/docverify
REDIS_URL=redis://localhost:6379
CORS_ORIGINS=http://localhost:3000,http://localhost:3001
JWT_ACCESS_SECRET=replace_me
JWT_REFRESH_SECRET=replace_me
CHAIN_WORKER_TOKEN=replace_me
SUPER_ADMIN_EMAIL=admin@docverify.local
SUPER_ADMIN_PASSWORD=Admin@12345
AES_256_KEY=replace_with_32_byte_key
RPC_URL=https://polygon-mumbai-bor-rpc.publicnode.com
CHAIN_ID=80001
ORG_REGISTRY_ADDRESS=0x0000000000000000000000000000000000000000
CERT_REGISTRY_ADDRESS=0x0000000000000000000000000000000000000000
ISSUER_PRIVATE_KEY=0xreplace
INTERNAL_API_BASE_URL=http://localhost:4000
BLOCKCHAIN_PROVIDER=evm
FABRIC_GATEWAY_URL=http://localhost:8080
FABRIC_CHANNEL=docverify
FABRIC_CHAINCODE=certificates

# frontend
NEXT_PUBLIC_API_URL=http://localhost:4000
